@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceOutRight {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0) scaleX(1);
  }
  30% {
    opacity: 0.9;
    transform: translate3d(-20px, 0, 0) scale(0.8);
  }
  100% {
    opacity: 0;
    transform: translate3d(150%, 0, 0) scaleX(1);
  }
}

@keyframes bounceInLeft {
  0%,
  60%,
  75%,
  90%,
  100% {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: translate3d(-3000px, 0, 0) scaleX(3);
  }
  1.5% {
    opacity: 1;
    transform: translate3d(25px, 0, 0) scaleX(1);
  }
  1.9% {
    transform: translate3d(-10px, 0, 0) scaleX(0.98);
  }
  2.2% {
    transform: translate3d(5px, 0, 0) scaleX(0.995);
  }
  2.5% {
    transform: translate3d(0, 0, 0) scaleX(1);
  }
  22.5% {
    transform: translate3d(0, 0, 0) scaleX(1);
  }
  23% {
    opacity: 1;
    transform: translate3d(-20px, 0, 0) scaleX(0.9);
  }
  25% {
    opacity: 0;
    transform: translate3d(2000px, 0, 0) scaleX(2);
  }
  100% {
    opacity: 0;
    transform: translate3d(2000px, 0, 0) scaleX(2);
  }
}

@keyframes phoneDisplay {
  0% {
    background-position: 50% -100%;
  }
  36.5% {
    background-position: 50% 50%;
  }
  59.5% {
    background-position: 50% 50%;
    opacity: 1;
  }
  100% {
    background-position: 50% 200%;
    opacity: 0;
  }
}

@keyframes wobble {
  0% {
    transform: translate3d(0, 0, 0);
  }
  36.5% {
    transform: translate3d(0, 0, 0);
  }
  40.5% {
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }
  44.5% {
    transform: translate3d(12%, 0, 0) rotate3d(0, 0, 1, 3deg);
  }
  48.5% {
    transform: translate3d(-9%, 0, 0) rotate3d(0, 0, 1, -3deg);
  }
  51.5% {
    transform: translate3d(6%, 0, 0) rotate3d(0, 0, 1, 2deg);
  }
  54.5% {
    transform: translate3d(-3%, 0, 0) rotate3d(0, 0, 1, -1deg);
  }
  59.5% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes pulse {
  0% {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(1.1, 1.1, 1.1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes borderColor {
  0% {
    border-color: #FCBF14;
  }
  50% {
    border-color: #651FFF;
  }
  100% {
    border-color: #FCBF14;
  }
}

@keyframes backgroundColor {
  0% {
    background-color: #651FFF;
  }
  50% {
    background-color: #FCBF14;
  }
  100% {
    background-color: #651FFF;
  }
}

@keyframes rotateImg {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes linearGradient1 {
  0% {
    background-image: linear-gradient(#651FFF  0%, #651FFF 100%, $text-color-2 100%, $text-color-2 100%,);
  }
  2% {
    background-image: linear-gradient(#651FFF  0%, #651FFF 90%, $text-color-2 90%, $text-color-2 100%,);
  }
  4% {
    background-image: linear-gradient(#651FFF  0%, #651FFF 80%, $text-color-2 80%, $text-color-2 100%,);
  }
  6% {
    background-image: linear-gradient(#651FFF  0%, #651FFF 70%, $text-color-2 70%, $text-color-2 100%,);
  }
  8% {
    background-image: linear-gradient(#651FFF  0%, #651FFF 60%, $text-color-2 60%, $text-color-2 100%,);
  }
  10% {
    background-image: linear-gradient(#651FFF  0%, #651FFF 50%, $text-color-2 50%, $text-color-2 100%,);
  }
  12% {
    background-image: linear-gradient(#651FFF  0%, #651FFF 40%, $text-color-2 40%, $text-color-2 100%,);
  }
  14% {
    background-image: linear-gradient(#651FFF  0%, #651FFF 30%, $text-color-2 30%, $text-color-2 100%,);
  }
  16% {
    background-image: linear-gradient(#651FFF  0%, #651FFF 20%, $text-color-2 20%, $text-color-2 100%,);
  }
  18% {
    background-image: linear-gradient(#651FFF  0%, #651FFF 10%, $text-color-2 10%, $text-color-2 100%,);
  }
  20% {
    background-image: linear-gradient(#651FFF  0%, #651FFF 0%, $text-color-2 0%, $text-color-2 100%,);
  }
  95% {
    background-image: linear-gradient(#651FFF  0%, #651FFF 0%, $text-color-2 0%, $text-color-2 100%,);
    background-color: $text-color-2;
  }
  96% {
    background-image: none;
  }
  100% {
    background-color: #651FFF;
  }
}
@keyframes linearGradient2 {
  0% {
    background-image: linear-gradient(#651FFF  0%, #651FFF 100%, $text-color-2 100%, $text-color-2 100%,);
  }
  25% {
    background-image: linear-gradient(#651FFF  0%, #651FFF 100%, $text-color-2 100%, $text-color-2 100%,);
  }
  27% {
    background-image: linear-gradient(#651FFF  0%, #651FFF 90%, $text-color-2 90%, $text-color-2 100%,);
  }
  29% {
    background-image: linear-gradient(#651FFF  0%, #651FFF 80%, $text-color-2 80%, $text-color-2 100%,);
  }
  31% {
    background-image: linear-gradient(#651FFF  0%, #651FFF 70%, $text-color-2 70%, $text-color-2 100%,);
  }
  33% {
    background-image: linear-gradient(#651FFF  0%, #651FFF 60%, $text-color-2 60%, $text-color-2 100%,);
  }
  35% {
    background-image: linear-gradient(#651FFF  0%, #651FFF 50%, $text-color-2 50%, $text-color-2 100%,);
  }
  37% {
    background-image: linear-gradient(#651FFF  0%, #651FFF 40%, $text-color-2 40%, $text-color-2 100%,);
  }
  39% {
    background-image: linear-gradient(#651FFF  0%, #651FFF 30%, $text-color-2 30%, $text-color-2 100%,);
  }
  41% {
    background-image: linear-gradient(#651FFF  0%, #651FFF 20%, $text-color-2 20%, $text-color-2 100%,);
  }
  43% {
    background-image: linear-gradient(#651FFF  0%, #651FFF 10%, $text-color-2 10%, $text-color-2 100%,);
  }
  45% {
    background-image: linear-gradient(#651FFF  0%, #651FFF 0%, $text-color-2 0%, $text-color-2 100%,);
  }
  95% {
    background-image: linear-gradient(#651FFF  0%, #651FFF 0%, $text-color-2 0%, $text-color-2 100%,);
    background-color: $text-color-2;
  }
  96% {
    background-image: none;
  }
  100% {
    background-color: #651FFF;
  }
}
@keyframes linearGradient3 {
  0% {
    background-image: linear-gradient(#651FFF  0%, #651FFF 100%, $text-color-2 100%, $text-color-2 100%,);
  }
  50% {
    background-image: linear-gradient(#651FFF  0%, #651FFF 100%, $text-color-2 100%, $text-color-2 100%,);
  }
  52% {
    background-image: linear-gradient(#651FFF  0%, #651FFF 90%, $text-color-2 90%, $text-color-2 100%,);
  }
  54% {
    background-image: linear-gradient(#651FFF  0%, #651FFF 80%, $text-color-2 80%, $text-color-2 100%,);
  }
  56% {
    background-image: linear-gradient(#651FFF  0%, #651FFF 70%, $text-color-2 70%, $text-color-2 100%,);
  }
  58% {
    background-image: linear-gradient(#651FFF  0%, #651FFF 60%, $text-color-2 60%, $text-color-2 100%,);
  }
  60% {
    background-image: linear-gradient(#651FFF  0%, #651FFF 50%, $text-color-2 50%, $text-color-2 100%,);
  }
  62% {
    background-image: linear-gradient(#651FFF  0%, #651FFF 40%, $text-color-2 40%, $text-color-2 100%,);
  }
  64% {
    background-image: linear-gradient(#651FFF  0%, #651FFF 30%, $text-color-2 30%, $text-color-2 100%,);
  }
  66% {
    background-image: linear-gradient(#651FFF  0%, #651FFF 20%, $text-color-2 20%, $text-color-2 100%,);
  }
  68% {
    background-image: linear-gradient(#651FFF  0%, #651FFF 10%, $text-color-2 10%, $text-color-2 100%,);
  }
  70% {
    background-image: linear-gradient(#651FFF  0%, #651FFF 0%, $text-color-2 0%, $text-color-2 100%,);
  }
  95% {
    background-image: linear-gradient(#651FFF  0%, #651FFF 0%, $text-color-2 0%, $text-color-2 100%,);
    background-color: $text-color-2;
  }
  96% {
    background-image: none;
  }
  100% {
    background-color: #651FFF;
  }
}
@keyframes linearGradient4 {
  0% {
    background-image: linear-gradient(#651FFF  0%, #651FFF 100%, $text-color-2 100%, $text-color-2 100%,);
  }
  75% {
    background-image: linear-gradient(#651FFF  0%, #651FFF 100%, $text-color-2 100%, $text-color-2 100%,);
  }
  77% {
    background-image: linear-gradient(#651FFF  0%, #651FFF 90%, $text-color-2 90%, $text-color-2 100%,);
  }
  79% {
    background-image: linear-gradient(#651FFF  0%, #651FFF 80%, $text-color-2 80%, $text-color-2 100%,);
  }
  81% {
    background-image: linear-gradient(#651FFF  0%, #651FFF 70%, $text-color-2 70%, $text-color-2 100%,);
  }
  83% {
    background-image: linear-gradient(#651FFF  0%, #651FFF 60%, $text-color-2 60%, $text-color-2 100%,);
  }
  85% {
    background-image: linear-gradient(#651FFF  0%, #651FFF 50%, $text-color-2 50%, $text-color-2 100%,);
  }
  87% {
    background-image: linear-gradient(#651FFF  0%, #651FFF 40%, $text-color-2 40%, $text-color-2 100%,);
  }
  89% {
    background-image: linear-gradient(#651FFF  0%, #651FFF 30%, $text-color-2 30%, $text-color-2 100%,);
  }
  91% {
    background-image: linear-gradient(#651FFF  0%, #651FFF 20%, $text-color-2 20%, $text-color-2 100%,);
  }
  93% {
    background-image: linear-gradient(#651FFF  0%, #651FFF 10%, $text-color-2 10%, $text-color-2 100%,);
  }
  95% {
    background-image: linear-gradient(#651FFF  0%, #651FFF 0%, $text-color-2 0%, $text-color-2 100%,);
    background-color: $text-color-2;
  }
  96% {
    background-image: none;
  }
  100% {
    background-color: #651FFF;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}

@keyframes opacityIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  100% {
    opacity: 1;
  }
}

@keyframes planeAir {
  0% {
    transform: translate3d(110vw, 0, 0) rotate3d(0, 0, 0, 0);
  }
  45% {
    transform: translate3d(-110vw, 0, 0) rotate3d(0, 0, 0, 0);
  }
  55% {
    transform: translate3d(-110vw, 0, 0) rotate3d(0, 1, 0, 180deg);
  }
  100% {
    transform: translate3d(110vw, 0, 0) rotate3d(0, 1, 0, 180deg);
  }
}
@keyframes planeAirRotate {
  0% {
    transform: rotate3d(1, 0, 0, 10deg);
  }
  100% {
    transform: rotate3d(1, 0, 0, -10deg);
  }
}