.page__application {
}
.application {
  padding: 3.5rem 0 0 0;
  background-color: $background-color-6;
  position: relative;
  overflow: hidden;

  @media (max-width: 992px) {
    padding: 3rem 0 0 0;
  }
  @media (max-width: 768px) {
    padding: 2.5rem 0 0 0;
  }
  @media (max-width: 576px) {
    padding: 2rem 0 0 0;
  }
  @media (max-width: 480px) {
    padding: 1.5rem 0 0 0;
  }

  &__container {
    position: relative;
  }
  &__title-block {
    margin: 0 0 3.75rem 0;
    position: relative;
    z-index: 10;

    @media (max-width: 768px) {
      margin: 0 0 3rem 0;
    }
    @media (max-width: 576px) {
      margin: 0 0 2.5rem 0;
    }
    @media (max-width: 480px) {
      margin: 0 0 2rem 0;
    }
  }
  &__body {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -0.55rem -2.4rem -0.55rem;
    max-width: 794px;
    position: relative;
    z-index: 10;

    @media (max-width: 630px) {
      margin: 0 -0.55rem -1.5rem -0.55rem;
    }
    @media (max-width: 480px) {
      margin: 0 -0.55rem -1rem -0.55rem;
    }
  }
  &__item {
    flex: 0 1 50%;

    @media (max-width: 630px) {
      flex: 0 1 100%;
    }
  }
  &__card {
    margin: 0 0.55rem 2.4rem 0.55rem;
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    min-height: 6rem;
    background-color: $background-color-5;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.14), 0px 16px 24px rgba(0, 0, 0, 0.08);

    @media (max-width: 768px) {
      padding: 0 1rem;
    }
    @media (max-width: 630px) {
      margin: 0 0.55rem 1.5rem 0.55rem;
    }
    @media (max-width: 480px) {
      margin: 0 0.55rem 1rem 0.55rem;
      padding: 0 0.7rem;
    }
  }
  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $text-color-1;
    font-size: 1.9rem;
    padding: 0 0.5rem 0 0;
  }
  &__text {
  }
  &__btn {
    margin: 3rem 0 0 0;
    font-size: 1.2rem;
    min-height: 3rem;
    padding: 5px 1.75rem 8px 1.9rem;
    background-color: $background-color-7;
    position: relative;
    z-index: 10;

    @media (max-width: 576px) {
      margin: 2.5rem 0 0 0;
    }

    svg path {
      fill: $background-color-7;
    }
    &:hover {
      color: $text-color-5;
      background-color: $background-color-3;
  
      svg path {
        fill: $background-color-3;
      }
    }
  }
  &__btn-block {
    padding-bottom: 4rem;

    @media (max-width: 992px) {
      padding-bottom:3.5rem;
    }
    @media (max-width: 768px) {
      padding-bottom:3rem;
    }
    @media (max-width: 576px) {
      padding-bottom:2.5rem;
    }
    @media (max-width: 480px) {
      padding-bottom:2rem;
    }
  }
  &__img-block {
      

    &::after {
      content: '';
      position: absolute;
      display: block;
      border-radius: 50%;
      width: 781px;
      height: 781px;
      background: radial-gradient(#BE416C 24%, transparent 24% 42.5%, #BE416C 42.5% 100%);
      bottom: -120px;
      right: -200px;
    }
  }
  &__img {
    position: absolute;
    background: url(../img/application/hend.png);
    z-index: 1;
    width: 588px;
    height: 890px;
    top: 7%;
    right: -2%;

    &::after {
      content: '';
      display: block;
      width: 210px;
      height: 360px;
      position: absolute;
      right: 95px;
      bottom: 470px;
      background: url(../img/application/aliexpress.png) no-repeat 50% 20%;
    }
  }
}

