.page__interests {
}
.interests {
  margin: 0 0 50px 0;

  &__container {
    padding: 2.5rem 1rem 1.75rem 1rem;
    background-color: $background-color-6;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.14), 0px 16px 24px rgba(0, 0, 0, 0.08);

    @media (max-width: 992px) {
      padding: 2rem 1rem 1.25rem 1rem;
    }
    @media (max-width: 576px) {
      padding: 1.5rem 1rem 1rem 1rem;
    }
  }
  &__title-block {
    margin: 0 0 2.35rem 0;
  }
  &__body {
    display: flex;
    flex-wrap: wrap;
  }
  &__row {
    flex: 0 1 50%;
    display: flex;
    align-items: flex-start;
    margin: 0 0 1rem 0;

    @media (max-width: 768px) {
      flex: 0 1 100%;
    }
  }
  &__icon {
    font-size: 1.25rem;
    min-width: 3.8rem;
    min-height: 3.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $text-color-2;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      display: block;
      border: 2px solid #FFFFFF;
      border-radius: 50%;
      min-width: 3.8rem;
      min-height: 3.8rem;
    }
    @media (max-width: 992px) {
      width: 3.4rem;
      height: 3.4rem;
    }
    @media (max-width: 576px) {
      width: 3rem;
      height: 3rem;
    }
    &--dom {
      &::after {
        left: 0px;
      }
    }
  }
  &__content {
  }
}
.content {
  color: $text-color-5;
  margin: 5px 5px 0 1rem;

  @media (min-width: 993px) {
    max-width: 15.75rem;
  }
  @media (min-width: 769px) {
    max-width: 14.5rem;
  }
  @media (max-width: 992px) {
    margin: 5px 5px 0 0.8rem;
  }
  &__title {
    font-size: 18px;
    line-height: 117%;
    margin: 0;

    @media (max-width: 576px) {
      font-size: 16px;
    }
  }
  &__text {
    font-size: 14px;
    line-height: 114%;
  }
}
