$text-color-1: #651FFF;
$text-color-2: #FDBF0F;
$text-color-3: #000;
$text-color-4: #FF8C00;
$text-color-5: #FFF;
$background-color-1: #651FFF;
$background-color-2: #FDBF0F;
$background-color-3: #000;
$background-color-4: #FF8C00;
$background-color-5: #FFF;
$background-color-6: #7224EA;
$background-color-7: #FF5900;
$border-color-1: #E5E5E5;

